<div class="container text">
	<div class="row mb-3">
    <div class="col color bg-primary"></div>
    <div class="col color bg-secondary"></div>
    <div class="col color bg-success"></div>
    <div class="col color bg-danger"></div>
  </div>
  <div class="row">
    <div class="col color bg-dark"></div>
    <div class="col color bg-light"></div>
    <div class="col color bg-info"></div>
    <div class="col color bg-warning"></div>
  </div>
</div>
<style>
  .color {
    height: 96px;
    margin-right:16px;
  }
</style>
