{{ section:above_header}}
{{ /section:above_header }}
{{ section:below_header}}
{{ /section:below_header }}

<div style="min-height:500px;">
  <div class="container my-5">
    <div class="row  {{ globals:horizontal_padding_class }}">
      <div class="col">
        {{ partial:breadcrumbs }}
        <h1 class="text-dark">{{ title }}</h1>
        <span>{{ event_date }} | {{ event_location }}</span>
        <p>{{ event_description }}</p>
      </div>
    </div>
  </div>

  {{ partial:components }}

 
  {{ partial src="collections/events" :collection_heading="events:other_events_heading" date_filter="today_and_future" }}

  {{ partial
    src="forms/book_meeting"
    form_id="book_meeting_at_event"
    form_title="{ trans:form.book_meeting_form_title }"
    form_description="{ trans:form.book_meeting_form_description }"
  }}


  {{ section:above_footer}}
  {{ /section:above_footer }}
  {{ section:below_footer}}
  {{ /section:below_footer }}
