{{ section:above_header}}
{{ /section:above_header }}
{{ section:below_header}}
{{ /section:below_header }}

<div style="min-height:500px;">
  <div class="container my-5">
  	<div class="row  mx-5">
  		<div class="col">
  			<h1 class="text-danger">{{ title }}</h1>
        <span>{{ event_date }} | {{ event_location }}</span>
        <p>{{ event_description }}</p>
  		</div>
  	</div>
  </div>

{{ partial src="events" collection_list="events" }}

{{ section:above_footer}}
{{ /section:above_footer }}
{{ section:below_footer}}
{{ /section:below_footer }}
