{{ components }}

{{ if type=="slider" }}
{{ partial:slider/slider_1 id="{{ slider_id }}" }}
{{ /if}}

{{ if type=="text" }}

<div class="container my-5 text">
	<div class="row mx-5">
		<div class="col">
			{{ text }}
		</div>
	</div>
</div>

{{ /if }}

{{ if image }}
{{ partial:images/image_1 }}
{{ /if }}

{{ if type=="quote" }}
{{ partial:text/quote }}
{{ /if }}

{{ if gallery }}
{{ partial:galleries/gallery_1 }}
{{ /if }}

{{ if type=="features" }}
{{ partial:features/features_1 }}
{{ /if }}

{{ if type=="call_to_action"}}
{{ partial:call_to_action/centred }}
{{ /if }}

{{ if type=="collection_list"}}
{{ partial :src="collection"}}
{{ /if }}

{{ if type=="subscribe" }}
{{ subscribe_to_newsletter | partial:call_to_action/centred | form_id:subscribe }}
{{ /if }}

{{ /components }}
