<div class="container my-5">
  <div class="row mx-5">
    <div class="col">
      {{ collection :from="collection_list" }}
      <div class="my-5">
        <div class="row">
          <div class="col-md-auto">
            <img src="{{ theme:asset src="img/icons/48/calendar.svg" }}" width="48" charset="utf-8"></img>
          </div>
          <div class="col">
            <h3 class="text-dark">{{ title }}</h3>
            <span>{{ event_date }} | {{ event_location }}</span>
            <p>{{ event_description }}</p>
            <a class="btn btn-secondary" href="{{ id | url }}">Read more</a>
            <a class="btn btn-link">Book meeting with us</a>
          </div>
        </div>
      </div>
      <hr>
      {{ /collection }}
    </div>
  </div>
</div>
