@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700');

body {
    font-family: 'Archivo', sans-serif;
    color: $gray-darker;

}
.text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      color: $dark;
  }
}


h1,
.h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -3px;
}

h2,
.h2 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 52px;
    letter-spacing: -2.25px;
}

h3,
.h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -1.5px;
}

h4,
.h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.1px;
}

h5,
.h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

h6,
.h6 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.5px;
}

.subtitle-large {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.75px;
}

.subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.5px;
}

.body-large {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
}

.body-small {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.body-small,
.body-large,
.subtitle,
.subtitle-large {
    max-width: 750px;
}

small {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
}



@include media-breakpoint-down(xs) {

    h1,
    .h1 {
        font-size: 10vw;
        line-height: 12vw;
        letter-spacing: -2.0px;
    }

    h2,
    .h2 {
        font-size: 10vw;
        line-height: 12vw;
        letter-spacing: -2px;
    }

    h3,
    .h3 {
        font-size: 7vw;
        line-height: 9vw;
        letter-spacing: -1px;
    }
}
