// Base
@import "base/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "base/colors";


// Components
@import "components/buttons";
@import "components/footers";
@import "components/navs";
@import "components/panels";
@import "components/players";
@import "components/maps";

// Elements
@import "elements/forms";
@import "elements/lists";
@import "elements/tables";

// Layouts
@import "layouts/home";
@import "layouts/globals";
@import "layouts/spacers";

@import "base/typography";

// utils

@import "utils/shadows";

#__bs_script__, #__bs_notify__ {
  display: none !important;
}


img[data-action="zoom"] {
  cursor: pointer;
  cursor: -moz-zoom-in; }

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: all 300ms; }

img.zoom-img {
  cursor: pointer;
  cursor: -moz-zoom-out; }

.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  opacity: 0;
  transition: opacity 300ms; }

.zoom-overlay-open .zoom-overlay {

  opacity: 1; }

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default; }
