<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title ensure_right=" / " }}{{ site_name }}</title>
    <link rel="stylesheet" href="{{ theme:css }}">
</head>

<body class="section-{{ segment_1 or "home" }}">
    {{ partial:nav/nav_1 elementId="nav_1" }}
    {{ template_content }}

    {{ partial:call_to_action/centred block="fc6b6e99-8ca0-4b63-b418-be68603803e4" }}

    <footer class="container">
      <hr>
        <p class="copyright">&copy; {{ now format="Y" }} {{ author_name }}</p>
        <p class="tribute">Built with Statamic</p>
    </footer>

    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{{ theme:js }}"></script>
  {{ partial:utils/snackbar }}
</body>
</html>
