<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Another awesome Statamic site">
  <title>{{ title ensure_right=" / " }}{{ site_name }}</title>
  <link rel="stylesheet" href="{{ theme:css }}">
  {{ collection from="javascripts" }}
  {{ if place_in_head_tag }}
  {{ code }}
  {{ /if }}
  {{ /collection }}

</head>

<body class="section-{{ segment_1 or "home" }}">
  {{ yield:above_header }}
  {{ partial:nav/nav_1 elementId="nav_1" }}
  {{ yield:below_header }}
  {{ template_content }}

  {{ components }}

  {{ if type=="slider" }}
  {{ partial:slider/slider_1 id="{{ slider_id }}" }}
  {{ /if}}

  {{ if type=="text" }}

  <div class="container my-5 text">
    <div class="row mx-5">
      <div class="col">
        {{ text }}
      </div>
    </div>
  </div>

  {{ /if }}

  {{ if image }}
  {{ partial:images/image_1 }}
  {{ /if }}

  {{ if type=="quote" }}
  {{ partial:text/quote }}
  {{ /if }}

  {{ if gallery }}
  {{ partial:galleries/gallery_1 }}
  {{ /if }}

  {{ if type=="features" }}
  {{ partial:features/features_1 }}
  {{ /if }}

  {{ if type=="call_to_action"}}
  {{ partial:call_to_action/centred }}
  {{ /if }}

  {{ if type=="collection_list"}}
  {{ partial :src="collection"}}
  {{ /if }}

  {{ if type=="subscribe" }}
  {{ subscribe_to_newsletter | partial:call_to_action/centred | form_id:subscribe }}
  {{ /if }}

  {{ /components }}

  {{ yield:above_footer }}
  {{ partial:footer/footer_1 }}
  {{ yield:below_footer }}

  {{ collection from="javascripts" }}
  {{ unless place_in_head_tag }}
  {{ code }}
  {{ /unless }}
  {{ /collection }}



  <script src="{{ theme:js }}"></script>
  {{ partial:utils/snackbar }}
</body>

</html>
