<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Another awesome Statamic site">
  <title>{{ title ensure_right=" / " }}{{ site_name }}</title>
  <link rel="stylesheet" href="{{ theme:css }}">
</head>

<body class="section-{{ segment_1 or "home" }}">
  <h1>HEY</h1>
{{ partial:nav/nav_1 elementId="nav_1" }}
{{ yield:top }}
{{ template_content }}
{{ replicator }}

   {{ if type=="slider" }}
      {{ partial:slider/slider_1 id="{{ slider_id }}" }}
    {{ /if}}

    {{ if type=="text" }}
    <div class="container my-5 text">
      <div class="row mx-5">
        <div class="col">
          {{ text }}
        </div>
      </div>
    </div>

    {{ /if }}

    {{ if image }}
        {{ partial:images/image_1 }}
    {{ /if }}

    {{ if type=="quote" }}
        {{ partial:text/quote }}
    {{ /if }}

    {{ if gallery }}
        {{ partial:galleries/gallery_1 }}
    {{ /if }}

    {{ if type=="features" }}
        {{ partial:features/features_1 }}
    {{ /if }}

    {{ if type=="call_to_action"}}
        {{ partial:call_to_action/centred }}
    {{ /if }}

    {{ if type=="collect"}}
      {{ partial :src="collection"}}
    {{ /if }}

    {{ if type=="subscribe" }}
        {{ subscribe_to_newsletter | partial:call_to_action/centred | form_id:subscribe }}
    {{ /if }}

{{ /replicator }}



{{ yield:bottom }}
  {{ partial:footer/footer_1 }}

  <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{{ theme:js }}"></script>
  {{ partial:utils/snackbar }}
</body>

</html>
