{{ if type=="form" }}
  {{ form }}
    {{ form:set is=value }}
      {{ form:create  attr="class:needs-validation|novalidate|id:{value}" }}
        {{ fields }}
          <label>{{ display }}</label>
          <input class="form-control" type="email" name="{{ field }}" value="{{ old }}" required/>
          <div class="invalid-feedback">
            Please enter valid email
            </div>
        {{ /fields }}
        <button type="submit" name="Submit" id="">submit</button>
      {{ /form:create }}
    {{ /form:set }}
  {{ /form }}
{{ /if }}



<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      console.log($(form).attr('id'))
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        } else {
            post(form);
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

 function post(form) {
   event.preventDefault();
   var form = $(form);
   var formData = form.serialize();
   $.ajax({
    type: 'POST',
    url: $(form).attr('action'),
    data: formData
    }).done(function(response) {
        form.trigger('reset');
        form.removeClass('was-validated');
        showSnackBar('Form was submitted successfully.');
        console.log(response);
    }).fail(function(data) {
        console.log(data);
    });
 }
</script>
